/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --header_title-color: #db00ff;
  --header_title-shadow: #ff0070;
  --subtitle-color: #000028;
  --decorated-zone: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --display-none: none;
  --display-block: block;
  --header-hover: rgba(255, 0, 112, 40%);
}

.page.theme_dark {
  background-image: var(--bg-image);
}

.theme_dark .header__rec {
  display: var(--display-block);
}

