/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #ff0070;
  --header_title-color: #db00ff;
  --header_title-shadow: #ff0070;
  --subtitle-color: #000028;
  --decorated-zone: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --display-none: none;
  --display-block: block;
}

.page.theme_dark {
  --accent-color: #ff0070;
  background-image: var(--bg-image);
}

.theme_dark .header__rec {
  display: var(--display-block);
}

@media (width <= 868px) {

  .header {
    min-height: 1024px;
    height: 100vh;
  }

  .section {
    grid-gap: 20px;
  }

  .attention__card {
    grid-template-columns: repeat(1, 1fr);
    margin-block-start: 20px;
    grid-gap: 20px;
    display: grid;
  }

  .attention__title {
    grid-template-columns: 1fr 3fr;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    justify-content: end;
    padding-inline-end: 20px;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  
  .footer {
    min-height: 1024px;
    height: 100vh;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width <= 500px) {
  .main {
    padding-block-start: 0;
  }
  .header {
    min-height: 668px;
    height: 100vh;
    padding: 10px 10px;
  }

  .header__theme-menu {
    padding-inline-end: 0;
    padding-block-start: 0;
  }

  .header__rec {
    right: 38px;
    top: 10px;
  }
  .header__text {
    margin-inline-end: 0;
    margin-block-end: 0;
  }

  .section {
    grid-template-columns: 1fr;
    padding-block-start: 40px;
  }

  .content-section {
    padding-block-start: 50px;
  }

  .attention__title {
    grid-template-columns: 1fr;
  }

  .images {
    padding-block-start: 50px;
    padding-block-end: 40px;
  }

  .images__card {
    margin-block-start: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .difficult-text a {
    border-bottom: 1px solid var(--text-color);
  }

  .footer {
    min-height: 668px;
    height: 100vh;
  }
}
