/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.theme_light {
  --bg-color: #fff1f7;
  --text-color: #353430;
  --accent-color: #ff8dcb;
  --main-font: "IBM Plex mono";
  --title-color: #353430;
  --header_title-color: #ffc2e6;
  --header_title-shadow: #ff8dcb;
  --subtitle-color: #353430;
  --decorated-zone: #353430;
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --main-font: "IBM Plex mono";
    --title-color: #353430;
    --header_title-color: #ffc2e6;
    --header_title-shadow: #ff8dcb;
    --subtitle-color: #353430;
    --decorated-zone: #353430;
  }

  .page {
    --accent-color: #ff8dcb;
    background-image: url(../images/cover-image-light.png);
  }

  .header__rec {
    display: none;
  }
}

.theme_light .header__rec {
  display: none;
}

@media (width <= 868px) {
  .difficult {
    grid-gap: 20px;
  }

  .attention__card {
    grid-template-columns: repeat(1, 1fr);
    margin-block-start: 20px;
    grid-gap: 20px;
    display: grid;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__theme-menu {
    justify-content: end;
    padding-inline-end: 20px;
    align-items: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .rules {
    grid-gap: 20px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

@media (width <= 500px) {
  .header {
    padding: 10px 10px;
  }

  .header__theme-menu {
    padding-inline-end: 0;
  }

  .header__rec {
    right: 38px;
    top: 10px;
  }
  .header__text {
    margin-inline-end: 0;
    margin-block-end: 0;
  }

  .difficult {
    grid-template-columns: 1fr;
    padding-block-start: 40px;
  }

  .attention {
    padding-block-start: 50px;
  }

  .attention__title {
    grid-template-columns: 1fr;
  }

  .rules {
    grid-template-columns: 1fr;
    padding-block-start: 50px;
  }

  .images {
    padding-block-start: 50px;
    padding-block-end: 40px;
  }

  .images__card {
    margin-block-start: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .difficult-text a {
    border-bottom: 1px solid var(--text-color);
  }

  .footer {
    min-height: 667px;
    height: 100vh;
  }
}
