/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-font: "IBM Plex mono";
  --title-color: #ff0070;
  --header_title-color: #db00ff;
  --header_title-shadow: #ff0070;
  --subtitle-color: #000028;
  --decorated-zone: #ff0070;
  --header-hover: rgba(255, 0, 112, 40%);
}
